*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}
/*Background-Image*/
.body{
    background-image: url("../images/background_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Main-Container*/
.main_container{
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
    "main_content"
    "latest_projects"
    "footer";
}
.main_content{
    grid-area: "main_content";
    margin: 15rem 2rem 1rem 8rem;
    height:100vh;
}

/*Navigation Bar*/
.navigation_container{
    margin-bottom: 4rem;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row;
    color: #000;
    padding-left: 2rem;
}


/*Cards*/
.latest_projects{
    grid-area:"latest_projects";
    height:100vh;
    width:100vw;
    background-image: url("../images/background_projects.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cards{
    margin-left:1rem;
    display: grid;
    width:70rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width: 15rem;
}

/*Buttons*/
.button{
    border: 2px solid #34495e;
    border-radius: 5px;
    width:15rem;
    height:4rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color:black;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  
  .button:hover{
    color: #ecf0f1;
    background-color: #34495e;
    border: 2px solid #34495e;
  }
  
  h1, h3, p{
      font-weight: 200;
  }
  