*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;

}

.body{
    background-image: url("../images/background_aboutMe.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow:hidden;
}

.aboutMe_content{
    display: flex;
    width:25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:14rem;
    margin-left:25rem;
    margin-bottom:9rem;
}
.aboutMe_content h1{
    align-self: flex-start;
}
.first-column{
    margin-left:4rem;
}

.second-column{
    margin-left: 8rem;
}
.third-column{
    margin-left:12rem;
}
.third-column a{
    color:#000;
}

.navigation_container{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:20rem;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-right:2rem;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row;
    color: #000;
    padding-left: 2rem;
}

 /*Styles*/ 
 h1, h3, p{
    font-weight: 200;
}

