*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    
}

.body{
    background-image: url("../images/background_project.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow:hidden;
}

.latest_projects{
    margin-top:6vh;
    padding-bottom:2vh;
    margin-left:2vw;
    margin-bottom:4vh;
    width:55vw;
    height:60vh;
    overflow: auto;
}
.cards{
    display: flex;
    margin-top:6vh;
}
.card{
    margin-right:4vw;
    text-align: center;
}

.navigation_container{
    margin-bottom: 8vh;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row;
    color: #000;
    padding-left: 2vw;
}

.css-scrollbar::-webkit-scrollbar-track {
    background-color:#999;
    border-radius:10px;
}

.css-scrollbar::-webkit-scrollbar {
    width: 16px;
}

.css-scrollbar::-webkit-scrollbar-thumb {
    background-color:#666;
    border-radius: 10px;
}

.button{
    border: 2px solid #34495e;
    border-radius: 5px;
    width:15vw;
    height:4vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    margin-bottom: 2vh;
    color:black;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .button:hover{
    color: #ecf0f1;
    background-color: #34495e;
    border: 2px solid #34495e;
  }

  .button_preview{
    position:;
    border: 2px solid #34495e;
    border-radius: 5px;
    width:15vw;
    height:4vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    color:black;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .button_preview:hover{
    color: #ecf0f1;
    background-color: #77807E;
    border: 2px solid #77807E;
  }


.code_preview_1{
    border-radius: 10px;
    margin-top:2vh;
    margin-left:2vw;
    width:55vw;
    height:10vh;
}

  /*Styles*/ 
 h1, h3, p{
    font-weight: 200;
}