*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    
}

/*Background-Image*/
.body{
    background-image: url("../images/background_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow:hidden;
}

.main_content{
    grid-area: "main_content";
    margin:  32vh 0vw 0vh 8vw;
    height:100vh;
}

/*Navigation Bar*/
.navigation_container{
    margin-bottom: 4vh;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row;
    color: #000;
    padding-left: 2vw;
}

/*Buttons*/
.button{
    border: 2px solid #34495e;
    border-radius: 5px;
    width:15vw;
    height:8vh;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    color:black;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  
  .button:hover{
    color: #ecf0f1;
    background-color: #34495e;
    border: 2px solid #34495e;
  }
  
 /*Styles*/ 
  h1, h3, p{
      font-weight: 200;
  }
  