body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body{
    background-image: url("../images/background_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Main-Container*/
.main_container{
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
    "main_content"
    "latest_projects"
    "footer";
}
.main_content{
    grid-area: "main_content";
    margin: 1rem 0rem 6rem 3rem;
}

/*Navigation Bar*/
.navigation_container{
    margin-bottom: 4rem;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row;
    color: #000;
    padding-left: 2rem;
}


/*Cards*/
.latest_projects{
    grid-area:"latest_projects";
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    width: 15rem;
}